AddDefaultCharset UTF-8
AddType "text/html; charset=UTF-8" .html
AddType "application/javascript; charset=UTF-8" .js

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
